################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DFC.UMS.Microservice/DFC.UMS.Microservice/bin/Debug/netcoreapp2.0
/DFC.UMS.Microservice/.vs/DFC.UMS.Microservice/v15
/DFC.UMS.Microservice/DFC.UMS.Microservice/obj
/DFC.UMS.Microservice/obj
