@page
@model DFC.UMS.Microservice.Pages.ManageStepDetailsModel
@{
    ViewData["Title"] = "Manage Step Details";
}

<h2>Manage Step Details</h2>

<form method="POST">
    <div class="row">
        <div class="col-md-3">
            <p>
                <label>Step Question</label>
                <input type="text" asp-for="StepDetail.QuestionDescription"/>
            </p>
            
            <p>
                <label>Question Number</label>
                <input type="text" asp-for="StepDetail.QuestionId"/>
            </p>
            
            <p>
                <label>Select Question Type </label>
            </p>
                
            <select asp-for="StepDetail.FrameworkItemType">
                <option value="Skill"> Skill</option>
                <option value="TaskItem"> Task</option>
                <option value="Ablity"> Ability</option>
            </select>
       
        </div>

    </div>
    <button type="submit">Save Step Details</button>
</form>

