@page
@model DFC.UMS.Microservice.Pages.ManageStepDetailsModel
@{
    ViewData["Title"] = "Manage Step Details";
}

<h2>Manage Step Details</h2>

<form method="POST">
    <div class="row">
        <div class="col-md-3">
            <p>
                <label>Step Question</label>
                <input type="text" asp-for="StepDetail.QuestionDescription"/>
            </p>
            
            <p>
                <label>Question Number</label>
                <input type="text" asp-for="StepDetail.QuestionId"/>
            </p>
            
            <p>
                <label>Select task items</label>
                <input type="text" asp-for="StepDetail.QuestionId"/>
            </p>
            <ul>
                @foreach (var taskItem in Model.TaskItems)
                {
                    <li>
                        <label><input value="@taskItem" type="checkbox" name="StepDetail.Answers">@taskItem</label>
                    </li>
                }
            </ul>
        </div>

    </div>
    <button type="submit">Save Step Details</button>
</form>

