@page
@model Step2Model
@{
    ViewData["Title"] = "Step 2";
}

<form method="POST">
    <div class="row">
        <div class="col-md-3">
            <h2>@Model.Step.QuestionId - @Model.Step.QuestionDescription</h2>
            
            @if (Model.Answers != null)
            {
                <ul>
                    @foreach (var answer in Model.Answers)
                    {
                        <li>
                            <label><input value="@answer" type="checkbox" name="SavedAnswer.SavedAnswers">@answer</label>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
    <button type="submit">Next</button>
    <input asp-for="SavedAnswer.QuestionId" type="hidden" />
    <input asp-for="SavedAnswer.SessionId" type="hidden" />
    <input asp-for="SavedAnswer.FrameworkItemType" type="hidden" />
</form>
